In [106]:
import numpy as np
import pandas as pd
import sklearn
import re
#from sklearn.model_selection import train_test_split
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression

C:\Users\vishesh.a.sharma\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [107]:
tdf = pd.read_csv("train.csv")
final_test = pd.read_csv("test.csv")

In [108]:
#Gender dummy
tdf['male'] = np.where(tdf['Sex'] == 'male',1,0)
tdf['female'] = np.where(tdf['Sex'] == 'female',1,0)

#Ticket class dummy
tdf['Pclass_1'] = np.where(tdf['Pclass'] == 1,1,0)
tdf['Pclass_2'] = np.where(tdf['Pclass'] == 2,1,0)
tdf['Pclass_3'] = np.where(tdf['Pclass'] == 3,1,0)

#Imputing values for embarked
tdf['Embarked'].fillna(value='S',inplace=True)

#Imputing value for Age
tdf['Age'].fillna(value=29,inplace=True)

#Embarked dummy
tdf['Embarked_S'] = np.where(tdf['Embarked'] == 'S',1,0)
tdf['Embarked_C'] = np.where(tdf['Embarked'] == 'C',1,0)
tdf['Embarked_Q'] = np.where(tdf['Embarked'] == 'Q',1,0)

In [109]:
tdf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,male,female,Pclass_1,Pclass_2,Pclass_3,Embarked_S,Embarked_C,Embarked_Q
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0,0,0,1,1,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1,1,0,0,0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1,0,0,1,1,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1,1,0,0,1,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,0,0,0,1,1,0,0

In [110]:
#Percentage of survival by socio-economic status
#Higher proportion of pessengers from upper class survived than the other two
tdf.loc[tdf['Pclass']==1,'Survived'].value_counts(normalize=True)

1    0.62963
0    0.37037
Name: Survived, dtype: float64

In [111]:
tdf['Fare'].mean()
tdf['Fare'].isnull().value_counts()

False    891
Name: Fare, dtype: int64

In [112]:
cols=['Age','SibSp','Parch','Fare','male','female','Pclass_1','Pclass_2','Pclass_3','Embarked_S','Embarked_C','Embarked_Q']
X = tdf[cols]
y = tdf['Survived']

In [113]:
# Train test split --random
#train,test = train_test_split(tdf,test_size=0.25, random_state=44)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25, random_state=44)

In [114]:
#Training the model
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [119]:
y_pred = logreg.predict(X_test)
print(logreg.score(X_test,y_test))

0.748878923767